//кольори
$prim-black-color: #111321;
$prim-white-color: #ffffff;
$accent-color: #4440f6;
$passive-color: #a8a8a8;

//шрифти font-family:
$prim-font: 'Manrope', sans-serif;
$sec-font: 'Poppins', sans-serif;