//кольори
$prim-text-color: #111321;
$prim-white-color: #ffffff;
$accent-color: #4440f6;
$passive-color: #a8a8a8;
$marking-color: #00dd73;

// *dt - dark theme
$dt-color: #2e2e2e;
$dt-prim-text-color: #f4f4f4;
$dt-sec-text-color: #000000;

//шрифти font-family:
$prim-font: 'Manrope', sans-serif;
$sec-font: 'Poppins', sans-serif;