@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
      url('../fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../fonts/Manrope-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppinsregular.woff2') format('woff2'),
      url('../fonts/Poppinsregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.woff2') format('woff2'),
      url('../fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@import './common';
@import './variables';
@import './base-components';

@import './components/button';

@import './header/header';
@import './header/mobile-menu';
@import './header/theme-toggle';

@import './home-page/card';
@import './home-page/date';
@import './home-page/filter';
@import './home-page/weather';
@import './home-page/pagination';

@import './favorite-page/favorite-card';

@import './read-page/read';