@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppinsregular.woff2") format("woff2"), url("../fonts/Poppinsregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #111321;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 780px) {
  .container {
    max-width: 780px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 768px) {
  .card-news__list {
    display: flex;
    gap: 30px;
  }
}

.card-news__item {
  position: relative;
  margin-bottom: 28px;
  width: 288px;
  height: 630px;
}
@media (min-width: 768px) {
  .card-news__item {
    width: 353px;
    height: 675px;
  }
}
@media (min-width: 1200px) {
  .card-news__item {
    width: 395px;
    height: 675px;
  }
}

.card-news__link {
  text-decoration: none;
}

.card-news__ovarlay {
  position: relative;
}

.card-news__category {
  position: absolute;
  top: 40px;
  width: 112px;
  height: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #FFFFFF;
}

.card-news__button {
  position: absolute;
  bottom: 12px;
  right: 8px;
  width: 126px;
  height: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #111321;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.card-news__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  color: #111321;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .card-news__title {
    font-size: 32px;
  }
}

.card-news__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #111321;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .card-news__text {
    font-size: 16px;
    line-height: 1.38;
  }
}

.card-news__time {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: right;
  color: #A8A8A8;
  display: inline-block;
}

.card-news__element {
  position: absolute;
  right: 17px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #4440F7;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */