::-webkit-scrollbar {
    display: none;
  }

.all-container-for-categories-menu {
    margin-bottom: 60px;
    display: flex;
    margin-top: 28px;
}

.categories-container_link{
    float: left;
    text-align: center;
    padding: 7.5px 24.5px;
    text-decoration: none;
    border: 1.5px solid;
    border-radius: 30px;
    color: #4440F6;
    text-align: center;
    font-size: 12px;
    margin-right: 16px;
}
.categories-container_link:hover{
    background-color: #4440F6;
    color: #fff;
}

.categories-container_link_dropDown:hover {
    background-color: #fff;
    color: #4440F6;
}



.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 12px;    
    border: none;
    outline: none;
    color: #4440F6;
    padding: 7.5px 24.5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border: 1.5px solid;
    border-radius: 30px;
    width: 112px;
    height: 31px;
    
}
.navbar__link {
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
}

// .navbar__link:hover, .dropdown:hover .dropbtn {
//     color: rgb(255, 255, 255);
//     background-color: #4440F6;
   
// }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    float: none;
    color: #4440F6;
    padding: 7.5px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
}

.dropdown-content a:hover {
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 30px;
    list-style: none;
    padding-left: 24px;
    background-color: #fff;
}

.dropdown-content a:hover {
    text-decoration: underline;
}


.dropdown::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

  .activee {
    background-color: #4440F6;
    color: #fff;
  }


//   ---------------------------------------------------------------------------
//   @media screen and (max-width: 768px) {
//     /* Скрыть 4-ю и 5-ю ссылки */
//     .categories-container_link:nth-child(n+4) {
//       display: none;
//     }
//     /* Показать выпадающее меню */
//     .dropdown {
//       display: block;
//     }
//   }
  
//   @media screen and (max-width: 1278px) {
//     /* Скрыть 6-ю и 7-ю ссылки */
//     .categories-container_link:nth-child(n+6) {
//       display: none;
//     }
//     /* Показать выпадающее меню */
//     .dropdown {
//       display: block;
//     }
//   }

// -------------------------------------------------------------------------
// @media screen and (max-width: 768px) {
//     /* Скрыть 4-ю и все последующие ссылки */
//     #categories-container .categories-container_link:nth-child(n+4) {
//       display: none;
//     }
    
//     /* Показать выпадающее меню */
//     .dropdown {
//       display: block;
//     }
    
//     /* Скрыть лишнее в выпадающем меню */
//     #dropdown-categories-container .categories-container_link:nth-child(n+4) {
//       display: none;
//     }
//   }
  
//   @media screen and (max-width: 1278px) {
//     /* Скрыть 6-ю и все последующие ссылки */
//     #categories-container .categories-container_link:nth-child(n+6) {
//       display: none;
//     }
    
//     /* Показать выпадающее меню */
//     .dropdown {
//       display: block;
//     }
    
//     /* Скрыть лишнее в выпадающем меню */
//     #dropdown-categories-container .categories-container_link:nth-child(n+6) {
//       display: none;
//     }
//   }

  