::-webkit-scrollbar {
    display: none;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.all-container-for-categories-menu {
    margin-bottom: 60px;
    display: flex;
    margin-top: 28px;
}

.categories-container_link{
    float: left;
    text-align: center;
    padding: 7.5px 24.5px;
    text-decoration: none;
    border: 1.5px solid;
    border-radius: 30px;
    color: #4440F6;
    text-align: center;
    font-size: 12px;
    margin-right: 16px;
}
.categories-container_link:hover{
    background-color: #4440F6;
    color: #fff;
}

.categories-container_link_dropDown:hover {
    background-color: #fff;
    color: #4440F6;
}



.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 12px;    
    border: none;
    outline: none;
    color: #4440F6;
    padding: 7.5px 24.5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border: 1.5px solid;
    border-radius: 30px;
    width: 112px;
    height: 31px;
    
}
.navbar__link {
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
}

// .navbar__link:hover, .dropdown:hover .dropbtn {
//     color: rgb(255, 255, 255);
//     background-color: #4440F6;
   
// }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    float: none;
    color: #4440F6;
    padding: 7.5px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
}

.dropdown-content a:hover {
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 30px;
    list-style: none;
    padding-left: 24px;
    background-color: #fff;
}

.dropdown-content a:hover {
    text-decoration: underline;
}


.dropdown::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

  .activee {
    background-color: #4440F6;
    color: #fff;
  }

  .filter {
    &__date {
        display: flex;
        margin-top: 24px;

  .loader {
    border: 16px solid #F3F3FC;
    border-top: 16px solid #4440F6;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

//   ---------------------------------------------------------------------------
//   @media screen and (max-width: 768px) {
//     /* Скрыть 4-ю и 5-ю ссылки */
//     .categories-container_link:nth-child(n+4) {
//       display: none;
//     }
//     /* Показать выпадающее меню */
//     .dropdown {
//       display: block;
//     }
//   }
  
//   @media screen and (max-width: 1278px) {
//     /* Скрыть 6-ю и 7-ю ссылки */
//     .categories-container_link:nth-child(n+6) {
//       display: none;
//     }
//     /* Показать выпадающее меню */
//     .dropdown {
//       display: block;
//     }
//   }

  .flatpickr-input {
    display: flex;
    flex-direction: row-reverse;
    width: 151px;
    height: 31px;
    border: 1px solid #4440F6;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;

    @media (min-width: 769px) {
        width: 137px;
    }

    &:focus, &:hover {
        border: 1px solid #4440F6;
    }
  }
}
}