/* Pagination */
.pagination.hidden {
    display: none;
}
.pagination {
    padding: 30px;
    display:flex;
    justify-content: center;
    margin-top: 64px;
  }
  .pagination__list {
    list-style-type: none;
    display: flex;
      gap: 8px;
  }
  .pagination__item {
    list-style-type: none;
  }
  .pagination__list-button {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 8px;
  }
  .pagination__button {
    padding: 5px 12px;
    border: 1px solid  #4440F7;
      border-radius: 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
  }
.pagination__button-prev {
    padding: 5px 12px;
    border: 1px solid  #4440F7;
      border-radius: 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
}
.pagination__button-next {
    padding: 5px 12px;
    border: 1px solid  #4440F7;
      border-radius: 2px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.3;
}

.pagination__button:hover,
.pagination__button-prev:hover,
.pagination__button-next:hover,
.pagination__button.current{
  background-color:  #4440F7;
  color: #fff;
}

// .pagination {
//   margin-top: 100px;
//   padding: 30px;
// }
// .pagination__list {
//   display: flex;
//   justify-content: center;
//   text-align: center;
// 	gap: 8px;
// }
// .pagination__item {
//   padding: 5px 12px;
//   border: 1px solid $accent-color;
// 	border-radius: 2px;
// 	font-weight: 500;
// 	font-size: 16px;
// 	line-height: 1.3;
// }