.weather-container {
    position: relative;
}
.weather {
    position: absolute;
	right: 16px;
    display: flexbox;
    width: 395px;
    height: 675px;
    background-color: $accent-color;
    
        @media (max-width: 768px) {
            position: relative;
            width: 288px;
            height: 469px;
    }

        &__block {
            display: flex;
            flex-wrap: nowrap;
        }

        &__number {
        display: inline-flex;
        align-items: center;
        width: 83px;
        height: 64px;
        margin-top: 41px;
        margin-left: 35px;

        font-family: Roboto;
        font-weight: 400;
        font-size: 55px;
        line-height: 1.17;
        color: $prim-white-color;
        border-right: 1px solid $prim-white-color; 
        }

        &__location {
            display: inline-flex;
            flex-wrap: wrap;
            margin-top: 37px;
            margin-left: 11px;
            margin-right: 5px;

        }

        &__title {
            font-family: Roboto;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.17;
            color: $prim-white-color;
        }

        &__city {
            display: flex;
            width: 121px;
            height: 34px;
            align-items: center;
            justify-content: center;
            gap: 6.81px;

            color: $prim-white-color;
            background-color: rgba(254, 254, 255, 0.3);
            border-radius: 10px;
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.49;
           
        }

        &__svg {

        fill: $prim-white-color;
        }

    &__icon {
        display: flex;
        width: 128px;
        height: 121px;
        margin-top: 51px;
        margin-left: auto;
        margin-right: auto;
    }

    &__date {
        display: flex;
        flex-wrap: nowrap;
        width: 155px;
        height: 66px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: Roboto;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.17;

            color: $prim-white-color;
    }
}
