
.weather {
    display: flexbox;
    flex-wrap: wrap;
    width: 288px;
    height: 469px;
    background-color: $accent-color;

    @media (min-width: 769px) and (max-width: 1279px){
        width: 353px;
        height: 675px;
    }

        @media (min-width: 1280px) {
        width: 395px;
        height: 675px;
        }
    
        &__block {
            display: flex;
            flex-wrap: nowrap;

            @media (min-width: 769px){
                margin-top: 45px;
                margin-left: auto;
                margin-right: auto;
            }
            
        }

        &__number {
        display: inline-flex;
        align-items: center;
        width: 83px;
        height: 64px;
        margin-top: 41px;
        margin-left: 35px;

        font-family: Roboto;
        font-weight: 400;
        font-size: 55px;
        line-height: 1.17;
        color: $prim-white-color;
        border-right: 1px solid $prim-white-color;

        @media (min-width: 769px){
            width: 95px;
            height: 75px;
            font-size: 64px;
        }
        }

        &__location {
            display: inline-flex;
            flex-wrap: wrap;
            margin-top: 37px;
            margin-left: 11px;
            margin-right: 5px;

            @media (min-width: 769px){
                margin-left: 8px;
            }

        }

        &__title {
            margin-right: 10px;
            font-family: Roboto;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.17;
            color: $prim-white-color;

            @media (min-width: 769px){
                font-size: 36px;
            }
        }

        &__city {
            display: flex;
            width: 121px;
            height: 34px;
            align-items: center;
            justify-content: center;
            gap: 6.81px;

            color: $prim-white-color;
            background-color: rgba(254, 254, 255, 0.3);
            border-radius: 10px;
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.49;

            @media (min-width: 769px){
                width: 177px;
                height: 42px;
                font-size: 20px;
            }
           
        }

        &__svg {

        fill: $prim-white-color;
        }

    &__icon {
        display: flex;
        width: 128px;
        height: 121px;
        margin-top: 51px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 769px){
            width: 165px;
            height: 156px;
            margin-top: 91px;
        }
    }

    &__date {
        display: flex;
        flex-wrap: nowrap;
        width: 155px;
        height: 66px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: Roboto;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.17;

            color: $prim-white-color;

            @media (min-width: 769px){
                margin-top: 90px;
                width: 199px;
                height: 84px;
                font-size: 36px;
            } 
    }
}
