@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppinsregular.woff2") format("woff2"), url("../fonts/Poppinsregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #111321;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 780px) {
  .container {
    max-width: 780px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  box-shadow: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 28px;
  }
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: inherit;
}
@media (min-width: 768px) {
  .logo {
    font-size: 32px;
    line-height: 1.36;
  }
}
@media (min-width: 1280px) {
  .logo {
    font-size: 42px;
    line-height: 1.36;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .site-nav {
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav {
    gap: 100px;
  }
}

.site-nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    gap: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav__list {
    gap: 69px;
  }
}

.site-nav__link {
  color: #111321;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: #4b48db;
  width: 0%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
  width: 100%;
}

.site-nav__link:hover::after,
.site-nav__:focus::after {
  width: 100%;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #4b48db;
}

.search {
  width: 288px;
}

.mobile-menu__logo {
  display: block;
  padding: 24px 0;
  text-align: center;
}

.header__burger-btn {
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateY(0);
}

.mobile-menu__topwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 0 16px;
  margin-bottom: 68px;
}

.mobile-menu__close-button {
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu__link {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 44px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #f4f4f4;
  background-color: #4440f6;
}
.mobile-menu__link:hover .home-icon, .mobile-menu__link:hover .favorite-icon, .mobile-menu__link:hover .read-icon, .mobile-menu__link:focus .home-icon, .mobile-menu__link:focus .favorite-icon, .mobile-menu__link:focus .read-icon {
  stroke: #f4f4f4;
}
.mobile-menu__link:hover .arrow-right-icon, .mobile-menu__link:focus .arrow-right-icon {
  display: block;
  fill: #f4f4f4;
}
.mobile-menu__link--current {
  color: #f4f4f4;
  background-color: #4440f6;
}
.mobile-menu__link--current .home-icon, .mobile-menu__link--current .favorite-icon, .mobile-menu__link--current .read-icon {
  stroke: #f4f4f4;
}
.mobile-menu__link--current .arrow-right-icon {
  display: block;
  fill: #f4f4f4;
}

.mobile-menu__arrow {
  margin: 0 16px 0 auto;
}

.mobile-menu__icon-close,
.icon-burger-menu {
  fill: #111321;
}

.arrow-right-icon {
  display: none;
}

.home-icon,
.favorite-icon,
.read-icon {
  display: inline-block;
  margin: 0 14px 0 16px;
}

.icon-sun {
  fill: #4b48db;
}

.icon-moon {
  fill: #5F6775;
}

/* Light theme */
body[data-theme=light] {
  background-color: #f4f4f4;
  color: #111321;
}
body[data-theme=light] .theme-switch__light, body[data-theme=light] .mobile-theme-switch__light {
  color: #4b48db;
}
body[data-theme=light] .logo, body[data-theme=light] .site-nav__link, body[data-theme=light] .header__search-btn {
  color: #111321;
}
body[data-theme=light] .card-news__title, body[data-theme=light] .card-news__text {
  color: #111321;
}
body[data-theme=light] .mobile-menu {
  background-color: #f4f4f4;
}
body[data-theme=light] .mobile-menu__link {
  color: #111321;
}
body[data-theme=light] .mobile-menu__link:hover, body[data-theme=light] .mobile-menu__link:focus {
  color: #f4f4f4;
}
body[data-theme=light] .mobile-menu__link--current {
  color: #f4f4f4;
}
body[data-theme=light] input[placeholder] {
  color: rgba(17, 19, 33, 0.4);
}
body[data-theme=light] .mobile-menu__icon-close, body[data-theme=light] .icon-burger-menu {
  fill: #111321;
}
body[data-theme=light] .icon-sun {
  fill: #4b48db;
}
body[data-theme=light] .icon-moon {
  fill: #5F6775;
}
body[data-theme=light] .search__icon {
  fill: #111321;
}
body[data-theme=light] .search-field {
  border-color: #111321;
}
body[data-theme=light] .categories-container_link {
  background-color: transparent;
}
body[data-theme=light] .categories-container_link:hover, body[data-theme=light] .dropbtn:hover {
  background-color: #4440F6;
  color: #fff;
}
body[data-theme=light] .dropbtn {
  background-color: #f4f4f4;
}

body[data-theme=dark] {
  background-color: #2e2e2e;
  color: #f4f4f4;
}
body[data-theme=dark] .theme-switch__dark, body[data-theme=dark] .mobile-theme-switch__dark {
  color: #5F6775;
}
body[data-theme=dark] .logo, body[data-theme=dark] .site-nav__link, body[data-theme=dark] .header__search-btn {
  color: #f4f4f4;
}
body[data-theme=dark] .card-news__title, body[data-theme=dark] .card-news__text {
  color: #f4f4f4;
}
body[data-theme=dark] .mobile-menu {
  background-color: #2e2e2e;
}
body[data-theme=dark] .mobile-menu__link {
  color: #f4f4f4;
}
body[data-theme=dark] input[placeholder] {
  color: rgba(244, 244, 244, 0.4);
}
body[data-theme=dark] .mobile-menu__icon-close, body[data-theme=dark] .icon-burger-menu {
  fill: #f4f4f4;
}
body[data-theme=dark] .icon-sun {
  fill: #5F6775;
}
body[data-theme=dark] .icon-moon {
  fill: #4b48db;
}
body[data-theme=dark] .search__icon {
  fill: #f4f4f4;
}
body[data-theme=dark] .search-field {
  border-color: #f4f4f4;
}
body[data-theme=dark] .categories-container_link {
  background-color: #f4f4f4;
}
body[data-theme=dark] .categories-container_link:hover, body[data-theme=dark] .dropbtn:hover {
  background-color: #4440F6;
  color: #fff;
}
body[data-theme=dark] .dropbtn {
  background-color: #f4f4f4;
}

.theme-switch {
  display: none;
}
@media (min-width: 768px) {
  .theme-switch {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .theme-switch {
    align-items: center;
  }
}

.mobile-theme-switch {
  display: block;
  position: absolute;
  bottom: 18px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.theme-switch__light, .mobile-theme-switch__light {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #4b48db;
}

.theme-switch__dark, .mobile-theme-switch__dark {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #5F6775;
}

#toggle, #mobile-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0.6px solid #4b48db;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 250ms ease;
}
#toggle:checked, #mobile-toggle:checked {
  background-color: #4b48db;
  border: 1px solid #ffffff;
}
@media (min-width: 1280px) {
  #toggle, #mobile-toggle {
    margin: 0 12px;
  }
}

#toggle::before, #mobile-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  background-color: #4b48db;
  cursor: pointer;
  transition: background-color 250ms ease;
}

#toggle:checked::before, #mobile-toggle:checked::before {
  left: 21px;
  background-color: #ffffff;
}

@media (min-width: 1280px) {
  .icon-sun,
  .icon-moon {
    display: none;
  }
}

.theme-word {
  display: none;
}
@media (min-width: 1280px) {
  .theme-word {
    display: block;
  }
}

.search-field {
  background-color: transparent;
  height: 31px;
  position: relative;
  margin-left: auto;
  margin-right: 14px;
  display: flex;
  align-items: center;
  height: 31px;
}
@media screen and (min-width: 768px) {
  .search-field {
    border: 1px solid #111321;
    border-radius: 20px;
    margin-right: 24px;
    width: 213px;
  }
}
@media screen and (min-width: 1280px) {
  .search-field {
    margin: 0 auto;
    width: 288px;
  }
}
.search-field input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #111321;
  border: none;
  background: none;
  outline: none;
  opacity: 0.4;
}
.search-field input:focus {
  color: #111321;
  opacity: 1;
}
.search-field input:-webkit-autofill, .search-field input:-webkit-autofill:hover, .search-field input:-webkit-autofill:focus, .search-field input:-webkit-autofill:active {
  -webkit-transition: background-color 9999s, color 9999s;
  transition: background-color 9999s, color 9999s;
}
.search-field input:autofill, .search-field input:autofill:hover, .search-field input:autofill:focus, .search-field input:autofill:active {
  transition: background-color 9999s, color 9999s;
}
@media screen and (max-width: 767.98px) {
  .search-field input {
    padding: 0;
    transition: 0.4s;
    width: 0;
  }
}
@media screen and (min-width: 767.98px) {
  .search-field input {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media screen and (max-width: 767.98px) {
  .search-field:hover {
    margin-top: 1px;
    border: 1px solid #111321;
    border-radius: 20px;
  }
  .search-field:hover input {
    width: 173px;
    padding: 8px 0;
  }
  .search-field:hover .search-field__btn {
    padding: 4px 16px 2px 12px;
  }
}

.search-field__btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 14px;
  border: none;
  background-color: transparent;
  border-radius: 20px;
}
@media screen and (max-width: 767.98px) {
  .search-field__btn {
    transition: 0.4s;
  }
}
@media screen and (min-width: 767.98px) {
  .search-field__btn {
    padding: 4px 16px 2px 12px;
  }
}

.search__icon {
  fill: #111321;
}

.mobile-menu__logo {
  display: block;
  padding: 24px 0;
  text-align: center;
}

.header__burger-btn {
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  z-index: 999;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateY(0);
}

.mobile-menu__topwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 0 16px;
  margin-bottom: 68px;
}

.mobile-menu__close-button {
  display: inline-block;
  min-width: 24px;
  min-height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu__link {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 44px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #f4f4f4;
  background-color: #4440f6;
}
.mobile-menu__link:hover .home-icon, .mobile-menu__link:hover .favorite-icon, .mobile-menu__link:hover .read-icon, .mobile-menu__link:focus .home-icon, .mobile-menu__link:focus .favorite-icon, .mobile-menu__link:focus .read-icon {
  stroke: #f4f4f4;
}
.mobile-menu__link:hover .arrow-right-icon, .mobile-menu__link:focus .arrow-right-icon {
  display: block;
  fill: #f4f4f4;
}
.mobile-menu__link--current {
  color: #f4f4f4;
  background-color: #4440f6;
}
.mobile-menu__link--current .home-icon, .mobile-menu__link--current .favorite-icon, .mobile-menu__link--current .read-icon {
  stroke: #f4f4f4;
}
.mobile-menu__link--current .arrow-right-icon {
  display: block;
  fill: #f4f4f4;
}

.mobile-menu__arrow {
  margin: 0 16px 0 auto;
}

.mobile-menu__icon-close,
.icon-burger-menu {
  fill: #111321;
}

.arrow-right-icon {
  display: none;
}

.home-icon,
.favorite-icon,
.read-icon {
  display: inline-block;
  margin: 0 14px 0 16px;
}

.icon-sun {
  fill: #4b48db;
}

.icon-moon {
  fill: #5F6775;
}

/* Light theme */
body[data-theme=light] {
  background-color: #f4f4f4;
  color: #111321;
}
body[data-theme=light] .theme-switch__light, body[data-theme=light] .mobile-theme-switch__light {
  color: #4b48db;
}
body[data-theme=light] .logo, body[data-theme=light] .site-nav__link, body[data-theme=light] .header__search-btn {
  color: #111321;
}
body[data-theme=light] .card-news__title, body[data-theme=light] .card-news__text {
  color: #111321;
}
body[data-theme=light] .mobile-menu {
  background-color: #f4f4f4;
}
body[data-theme=light] .mobile-menu__link {
  color: #111321;
}
body[data-theme=light] .mobile-menu__link:hover, body[data-theme=light] .mobile-menu__link:focus {
  color: #f4f4f4;
}
body[data-theme=light] .mobile-menu__link--current {
  color: #f4f4f4;
}
body[data-theme=light] input[placeholder] {
  color: rgba(17, 19, 33, 0.4);
}
body[data-theme=light] .mobile-menu__icon-close, body[data-theme=light] .icon-burger-menu {
  fill: #111321;
}
body[data-theme=light] .icon-sun {
  fill: #4b48db;
}
body[data-theme=light] .icon-moon {
  fill: #5F6775;
}
body[data-theme=light] .search__icon {
  fill: #111321;
}
body[data-theme=light] .search-field {
  border-color: #111321;
}
body[data-theme=light] .categories-container_link {
  background-color: transparent;
}
body[data-theme=light] .categories-container_link:hover, body[data-theme=light] .dropbtn:hover {
  background-color: #4440F6;
  color: #fff;
}
body[data-theme=light] .dropbtn {
  background-color: #f4f4f4;
}

body[data-theme=dark] {
  background-color: #2e2e2e;
  color: #f4f4f4;
}
body[data-theme=dark] .theme-switch__dark, body[data-theme=dark] .mobile-theme-switch__dark {
  color: #5F6775;
}
body[data-theme=dark] .logo, body[data-theme=dark] .site-nav__link, body[data-theme=dark] .header__search-btn {
  color: #f4f4f4;
}
body[data-theme=dark] .card-news__title, body[data-theme=dark] .card-news__text {
  color: #f4f4f4;
}
body[data-theme=dark] .mobile-menu {
  background-color: #2e2e2e;
}
body[data-theme=dark] .mobile-menu__link {
  color: #f4f4f4;
}
body[data-theme=dark] input[placeholder] {
  color: rgba(244, 244, 244, 0.4);
}
body[data-theme=dark] .mobile-menu__icon-close, body[data-theme=dark] .icon-burger-menu {
  fill: #f4f4f4;
}
body[data-theme=dark] .icon-sun {
  fill: #5F6775;
}
body[data-theme=dark] .icon-moon {
  fill: #4b48db;
}
body[data-theme=dark] .search__icon {
  fill: #f4f4f4;
}
body[data-theme=dark] .search-field {
  border-color: #f4f4f4;
}
body[data-theme=dark] .categories-container_link {
  background-color: #f4f4f4;
}
body[data-theme=dark] .categories-container_link:hover, body[data-theme=dark] .dropbtn:hover {
  background-color: #4440F6;
  color: #fff;
}
body[data-theme=dark] .dropbtn {
  background-color: #f4f4f4;
}

.theme-switch {
  display: none;
}
@media (min-width: 768px) {
  .theme-switch {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .theme-switch {
    align-items: center;
  }
}

.mobile-theme-switch {
  display: block;
  position: absolute;
  bottom: 18px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.theme-switch__light, .mobile-theme-switch__light {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #4b48db;
}

.theme-switch__dark, .mobile-theme-switch__dark {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #5F6775;
}

#toggle, #mobile-toggle {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0.6px solid #4b48db;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 250ms ease;
}
#toggle:checked, #mobile-toggle:checked {
  background-color: #4b48db;
  border: 1px solid #ffffff;
}
@media (min-width: 1280px) {
  #toggle, #mobile-toggle {
    margin: 0 12px;
  }
}

#toggle::before, #mobile-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  background-color: #4b48db;
  cursor: pointer;
  transition: background-color 250ms ease;
}

#toggle:checked::before, #mobile-toggle:checked::before {
  left: 21px;
  background-color: #ffffff;
}

@media (min-width: 1280px) {
  .icon-sun,
  .icon-moon {
    display: none;
  }
}

.theme-word {
  display: none;
}
@media (min-width: 1280px) {
  .theme-word {
    display: block;
  }
}

.card-news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media (min-width: 767.98px) {
  .card-news__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media (min-width: 767.98px) and (min-width: 768px) {
  .card-news__list {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 767.98px) and (min-width: 1280px) {
  .card-news__list {
    display: flex;
  }
}
@media (max-width: 768px) {
  .card-news__list .card-news__item:nth-child(2) {
    margin-right: 0;
  }
}
.card-news__list .card-news__item {
  position: relative;
  margin-bottom: 28px;
  width: 288px;
  height: 630px;
}
@media (min-width: 767.98px) {
  .card-news__list .card-news__item {
    width: 353px;
    height: 675px;
  }
}
@media (min-width: 1279.98px) {
  .card-news__list .card-news__item {
    width: 395px;
    height: 675px;
  }
}
.card-news__list .card-news__link {
  text-decoration: none;
}
.card-news__list .card-news__ovarlay {
  position: relative;
  overflow: hidden;
}
.card-news__list img {
  border-radius: 4px;
}
.card-news__list .card-news__category {
  position: absolute;
  top: 40px;
  width: 112px;
  height: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
}
.card-news__list .card-news__button {
  position: absolute;
  bottom: 12px;
  right: 8px;
  height: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  color: #111321;
  background-color: #ffffff;
  border: #ffffff;
  border-radius: 20px;
}
.card-news__list .card-news__button--add {
  width: 126px;
}
.card-news__list .card-news__button--remove {
  width: 168px;
}
.card-news__list .card-news__icon {
  fill: #4440f6;
}
.card-news__list .card-news__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  color: #111321;
  margin-top: 20px;
}
@media (min-width: 767.98px) {
  .card-news__list .card-news__title {
    font-size: 32px;
  }
}
.card-news__list .card-news__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #111321;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 57px;
}
@media (min-width: 767.98px) {
  .card-news__list .card-news__text {
    font-size: 16px;
    line-height: 1.38;
    height: 66px;
  }
}
.card-news__list .card-news__time {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: right;
  color: #a8a8a8;
  display: inline-block;
}
.card-news__list .card-news__element {
  position: absolute;
  right: 17px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #4440f7;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1279.98px) {
  .card-news__img {
    height: 395px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.all-container-for-categories-menu {
  margin-bottom: 60px;
  display: flex;
  margin-top: 28px;
}

.categories-container_link {
  float: left;
  text-align: center;
  padding: 7.5px 24.5px;
  text-decoration: none;
  border: 1.5px solid;
  border-radius: 30px;
  color: #4440F6;
  text-align: center;
  font-size: 12px;
  margin-right: 16px;
}

.categories-container_link:hover {
  background-color: #4440F6;
  color: #fff;
}

.categories-container_link_dropDown:hover {
  background-color: #fff;
  color: #4440F6;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: #4440F6;
  padding: 7.5px 24.5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border: 1.5px solid;
  border-radius: 30px;
  width: 112px;
  height: 31px;
}

.navbar__link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #4440F6;
  padding: 7.5px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
}

.dropdown-content a:hover {
  border: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 30px;
  list-style: none;
  padding-left: 24px;
  background-color: #fff;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.activee {
  background-color: #4440F6;
  color: #fff;
}

.filter__date {
  display: flex;
  margin-top: 24px;
}
@media (min-width: 769px) {
  .filter__date {
    margin-top: 28px;
  }
}

.flatpickr-input {
  display: flex;
  flex-direction: row-reverse;
  width: 151px;
  height: 31px;
  border: 1px solid #4440F6;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}
@media (min-width: 769px) {
  .flatpickr-input {
    width: 137px;
  }
}
.flatpickr-input:focus, .flatpickr-input:hover {
  border: 1px solid #4440F6;
}

.weather {
  display: flexbox;
  flex-wrap: wrap;
  width: 288px;
  height: 469px;
  background-color: #4440f6;
}
@media (min-width: 769px) and (max-width: 1279px) {
  .weather {
    width: 353px;
    height: 675px;
  }
}
@media (min-width: 1280px) {
  .weather {
    width: 395px;
    height: 675px;
  }
}
.weather__block {
  display: flex;
  flex-wrap: nowrap;
}
@media (min-width: 769px) {
  .weather__block {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}
.weather__number {
  display: inline-flex;
  align-items: center;
  width: 83px;
  height: 64px;
  margin-top: 41px;
  margin-left: 35px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 55px;
  line-height: 1.17;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
@media (min-width: 769px) {
  .weather__number {
    width: 95px;
    height: 75px;
    font-size: 64px;
  }
}
.weather__location {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 37px;
  margin-left: 11px;
  margin-right: 5px;
}
@media (min-width: 769px) {
  .weather__location {
    margin-left: 8px;
  }
}
.weather__title {
  margin-right: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}
@media (min-width: 769px) {
  .weather__title {
    font-size: 36px;
  }
}
.weather__city {
  display: flex;
  width: 121px;
  height: 34px;
  align-items: center;
  justify-content: center;
  gap: 6.81px;
  color: #ffffff;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.49;
}
@media (min-width: 769px) {
  .weather__city {
    width: 177px;
    height: 42px;
    font-size: 20px;
  }
}
.weather__svg {
  fill: #ffffff;
}
.weather__icon {
  display: flex;
  width: 128px;
  height: 121px;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 769px) {
  .weather__icon {
    width: 165px;
    height: 156px;
    margin-top: 91px;
  }
}
.weather__date {
  display: flex;
  flex-wrap: nowrap;
  width: 155px;
  height: 66px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.17;
  color: #ffffff;
}
@media (min-width: 769px) {
  .weather__date {
    margin-top: 90px;
    width: 199px;
    height: 84px;
    font-size: 36px;
  }
}

/* Pagination */
.pagination.hidden {
  display: none;
}

.pagination {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.pagination__list {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.pagination__item {
  list-style-type: none;
}

.pagination__list-button {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.pagination__button {
  padding: 5px 12px;
  border: 1px solid #4440F7;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}

.pagination__button-prev {
  padding: 5px 12px;
  border: 1px solid #4440F7;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}

.pagination__button-next {
  padding: 5px 12px;
  border: 1px solid #4440F7;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}

.pagination__button:hover,
.pagination__button-prev:hover,
.pagination__button-next:hover {
  background-color: #4440F7;
  color: #fff;
}

.wrapper-plug {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .wrapper-plug {
    padding-top: 88px;
  }
}
@media screen and (min-width: 1279.98px) {
  .wrapper-plug {
    padding-top: 121px;
  }
}

.is-hidden {
  display: none;
}

.wrapper-plug__title {
  padding-bottom: 40px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  max-width: 276px;
}
@media (min-width: 767.98px) {
  .wrapper-plug__title {
    font-size: 40px;
    line-height: 55px;
    max-width: 548px;
  }
}

@media (min-width: 767.98px) {
  .card-favorite__list {
    display: flex;
    gap: 30px;
  }
}

.card-favorite__item {
  position: relative;
  margin-bottom: 28px;
  width: 288px;
  height: 630px;
}
@media (min-width: 767.98px) {
  .card-favorite__item {
    width: 353px;
    height: 675px;
  }
}
@media (min-width: 1279.98px) {
  .card-favorite__item {
    width: 395px;
    height: 675px;
  }
}

.card-favorite__link {
  text-decoration: none;
}

.card-favorite__ovarlay {
  position: relative;
}

.card-favorite__category {
  position: absolute;
  top: 40px;
  width: 112px;
  height: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
}

.card-favorite__button {
  position: absolute;
  bottom: 12px;
  right: 8px;
  width: 168px;
  height: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  color: #111321;
  background-color: #ffffff;
  border: #ffffff;
  border-radius: 20px;
}

.card-favorite__icon {
  fill: #111321;
}

.card-favorite__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  color: #111321;
  margin-top: 20px;
}
@media (min-width: 767.98px) {
  .card-favorite__title {
    font-size: 32px;
  }
}

.card-favorite__text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #111321;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 767.98px) {
  .card-favorite__text {
    font-size: 16px;
    line-height: 1.38;
  }
}

.card-favorite__time {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: right;
  color: #a8a8a8;
  display: inline-block;
}

.card-favorite__element {
  position: absolute;
  right: 17px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #4440f7;
  text-decoration: none;
  cursor: pointer;
}

.card-news__item.read {
  list-style-type: none;
  position: relative;
  margin-bottom: 28px;
  width: 395px;
  height: 675px;
}

/* Accordeon */
.date__item {
  list-style-type: none;
  display: flex;
  cursor: pointer;
  padding-top: 60px;
  padding-bottom: 12px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.date__item::after {
  display: flex;
  justify-content: center;
  content: "⌄"; /* Unicode  */
  font-size: 13px;
  float: right;
  margin-left: 20px;
  margin-top: 22px;
}

.active::after {
  content: "⌃";
}

.card-news__box {
  display: none;
}

.card-news__box.active {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  padding-top: 40px;
}/*# sourceMappingURL=index.css.map */