// якщо треба ці стилі на кнопку, додайтк їй клас 'button' 
.button {
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    cursor: pointer;
    background-color: inherit;
    box-shadow: none;
}