.card-favorite__list,  .date__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    @media (min-width: $pre_tablet) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        }
        @media (min-width: 768px) {
            display: flex;
            gap: 30px;
        }
    
        @media (min-width: 1280px) {
            display: flex;
            // flex-direction: row-reverse;
        }
}

.card-favorite__item, .card-news__item.read {
    position: relative;
    margin-bottom: 28px;
    width: 288px;
    height: 630px;

    @media (min-width: $pre_tablet) {
        width: 353px;
        height: 675px;
    }

    @media (min-width: $pre_desktop) {
        width: 395px;
        height: 675px;
    }
}


.card-favorite__link, .card-news__element.read {
    text-decoration: none;
}

.card-favorite__ovarlay, .card-news__ovarlay.read {
    position: relative;
    overflow: hidden;
}


.card-favorite__category, .card-news__category.read {
    position: absolute;
    top: 40px;
    width: 112px;
    height: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $category-bg-color;
    border-radius: 0px 4px 4px 0px;
    font-family: $prim-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: $prim-white-color;
}

.card-favorite__button, .card-news__button.read {
    position: absolute;
    bottom: 12px;
    right: 8px;
    // width: 168px;
    height: 28px;
    font-family: $prim-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    // padding: 6px 12px;
    text-align: center;
    color: $prim-text-color;
    background-color:$prim-white-color;
    border:$prim-white-color;
    border-radius: 20px;
    
}

.card-favorite__icon, .card-news__icon.read {
    fill:$prim-text-color;
}

.card-favorite__title, .card-news__title.read {
    font-family: $prim-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: -0.01em;
    color: $prim-text-color;
    margin-top: 20px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media (min-width: $pre_tablet) {
        font-size: 32px;
    }

}

.card-favorite__text, .card-news__text.read {
    font-family: $prim-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color:$prim-text-color;
    margin-top: 20px;
    margin-bottom: 20px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 57px;

    @media (min-width: $pre_tablet) {
        font-size: 16px;
        line-height: 1.38;
    }
}

.card-favorite__time, .card-news__time.read {
    font-family: $prim-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: right;
    color: $passive-color;
    display: inline-block;

}

.card-favorite__element, .card-news__element.read {
    position: absolute;
    right: 17px;
    font-family: $prim-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color:$filter-bordercolor;
    text-decoration: none;
    cursor: pointer;
}