<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
  </head>
  <body> -->
<section class="card-news">
  <div class="container weather-container">
    <div class="weather">
      <img
        src="./images/asia-businesswoman-social-distancing-new.jpg"
        alt="Businesswoman"
        width="288"
        height="395"
      />
    </div>
    <ul class="card-news__list">
      <!-- <li class="card-news__item">
        <div class="card-news__ovarlay">
          <picture>
            <source
              srcset="./images/asia-businesswoman-social-distancing-new.jpg 1x"
              type="image/jpeg"
              media="(max-width: 768px)"
              width="288"
              height="395"
            />
            <source
              srcset="
                ./images/asia-businesswoman-social-distancing-new-tablet@1x.jpg 1x
              "
              type="image/jpeg"
              media="(min-width: 768px) and (max-width: 1199px)"
              width="353"
              height="395"
            />
            <source
              srcset="
                ./images/asia-businesswoman-social-distancing-new-desktop@1x.jpg 1x
              "
              type="image/jpeg"
              media="(min-width: 1200px)"
              width="395"
              height="395"
            />
            <img
              src="./images/asia-businesswoman-social-distancing-new.jpg"
              alt="Businesswoman"
              width="288"
              height="395"
            />
          </picture>
          <p class="card-news__category">Job searching</p>
          <button
            class="card-news__button card-news__button--add"
            type="button"
          >
            Add to favorite
            <svg class="card-news__icon" width="16" height="16">
              <use href="./svg/symbol-defs.svg#icon-icons_heart"></use>
            </svg>
          </button>
        </div>
        <h2 class="card-news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <p class="card-news__text">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <time class="card-news__time">20/02/2021</time>
        <a
          class="card-news__element"
          href=""
          target="_blank"
          rel="noreferrer noopener"
          >Read more</a
        >
      </li>
      <li class="card-news__item">
        <div class="card-news__ovarlay">
          <picture>
            <source
              srcset="./images/asia-businesswoman-social-distancing-new.jpg 1x"
              type="image/jpeg"
              media="(max-width: 768px)"
              width="288"
              height="395"
            />
            <source
              srcset="
                ./images/asia-businesswoman-social-distancing-new-tablet@1x.jpg 1x
              "
              type="image/jpeg"
              media="(min-width: 768px) and (max-width: 1199px)"
              width="353"
              height="395"
            />
            <source
              srcset="
                ./images/asia-businesswoman-social-distancing-new-desktop@1x.jpg 1x
              "
              type="image/jpeg"
              media="(min-width: 1200px)"
              width="395"
              height="395"
            />
            <img
              src="./images/asia-businesswoman-social-distancing-new.jpg"
              alt="Businesswoman"
              width="288"
              height="395"
            />
          </picture>
          <p class="card-news__category">Job searching</p>
          <button
            class="card-news__button card-news__button--remove"
            type="button"
          >
            Remove from favorite
            <svg class="card-news__icon" width="16" height="16">
              <use href="./svg/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
        <h2 class="card-news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <p class="card-news__text">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </p>
        <time class="card-news__time">20/02/2021</time>
        <a
          class="card-news__element"
          href=""
          target="_blank"
          rel="noreferrer noopener"
          >Read more</a
        >
      </li> -->
    </ul>
  </div>
</section>
<!-- </body>
</html> -->
