<!-- <div class="pagination hidden">
  <ul class="pagination__list">
    <li class="pagination__item">
      <button class="pagination__button-prev" type="button" id="prev">
        Prev
      </button>
    </li>
    <ul class="pagination__list-button"></ul>
    <li class="pagination__item-next">
      <button class="pagination__button-next" type="button" id="next">
        Next
      </button>
    </li>
  </ul>
</div> -->

<!-- <div class="pagination">
	<ul class="pagination__list">
		<li class="pagination__item">1</li>
		<li class="pagination__item">2</li>
		<li class="pagination__item">3</li>
		<li class="pagination__item">4</li>
		<li class="pagination__item">5</li>
	</ul>
</div> -->
