// body{
//     background-color: var(--background);
//     color: var(--main-color);
// }
// /* Light theme */
// body[data-theme="light"]{
// --background: #F4F4F4;
// --main-color: #111321;
// --colorsun: #4B48DB;
// --colormoon: #5F6775;
// }
// /* Dark theme */
// body[data-theme="dark"]{
// --background: #2E2E2E;
// --main-color: #fff;
// --colorsun: #5F6775;
// --colormoon: #4B48DB;
// }

.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 28px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 28px;
    } 

    
}
.header__wrapper {
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;

    color: var(--main-color);
}
.site-nav {
    display: flex;
    // align-items: center;
    

    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
        gap: 48px;
    }
    @media screen and (min-width: 1200px){
        gap: 100px;
    } 
    
}
.site-nav__list {
    display: none;
  

       @media screen and (min-width: 768px){
        display: flex;
        gap: 44px;
    }
    @media screen and (min-width: 1200px){
        gap: 69px;
    } 
}
.site-nav__link{
    color: var(--main-color);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #4B48DB;
    width: 0%;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current::after {
    width: 100%;
}
.site-nav__link:hover::after,
.site-nav__:focus::after {
    width: 100%;
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: #4B48DB; 

}
.search {
    width: 288px;
}

* Light theme */
body[data-theme="light"] {
    background-color: $prim-background;
    color: $prim-text-color;
    & .theme-switch__light{
        color: $colorsun-icon;
    }
}
body[data-theme="dark"] {
    background-color: $dt-background;
    color: $dt-prim-text-color;
    & .theme-switch__dark{
        color: $colormoon-icon;
    }
}
.theme-switch {
    position: absolute;
    bottom: 18px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-switch__light {
    font-family: $sec-font;
    font-size: 18px;
    line-height: 1.33;
    color: $colorsun-icon;
}
.theme-switch__dark {
    font-family: $sec-font;
    font-size: 18px;
    line-height: 1.33;
    color: $colormoon-icon;
}
#toggle {
    position: relative;
    width: 40px;
    height: 20px;
    margin: 0 12px;
    appearance: none;
    outline: none;
    border: 0.6px solid $accent-background;
    border-radius: 20px;
    background-color: $prim-white-color;
    transition: 250ms ease;
    &:checked{
    background-color: $accent-background;
    border: 1px solid $prim-white-color;
    }
}
#toggle::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    background-color: $accent-background;
    cursor: pointer;
    transition: 250ms ease;
    // transform: scale(1.1);
}
#toggle:checked::before {
    left: 21px;
    background-color: $prim-white-color;
}
.icon-sun, .icon-moon{
    display: none;
}
// .theme-word{
//  display: none;
// }