.header__logo {
	display: inline-block;
	margin-right: auto;
	padding: 24px 0;
}

.header__search-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-width: 20px;
	min-height: 20px;
	margin: 0 12px 0 auto;
	padding: 0;
	border: none;
	cursor: pointer;

	background-color: transparent;
}

.header__burger-btn {
	min-height: 24px;
	min-width: 24px;
	margin: 0 0 0 auto;
	padding: 0;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	border: none;
	cursor: pointer;

	outline: none;
	background-color: transparent;

	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.header_topwrapper {
	display: flex;
	align-items: center;

	@media(min-width: $tablet) {
		display: none;
	}
}


.mobile-menu {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-110%);
	width: 100vw;
	height: 100vh;
	background-color: $prim-background;
	z-index: 999;
	transition: transform 250ms ease;

	&.is-open {
		transform: translateY(0);
	}
}

.mobile-menu__topwrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 16px 0 16px;
	margin-bottom: 68px;
}

.mobile-menu__close-button {
	display: inline-block;
	min-width: 24px;
	min-height: 24px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.mobile-menu__logo {
	display: inline-block;
}

.mobile-menu__item:not(:last-child) {
	margin-bottom: 30px;
}

.mobile-menu__link {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 44px;
	padding: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
	color: $prim-text-color;

	&:hover,
	&:focus {
		color: $prim-background;
	}

	&--current {
		color: $prim-background;
		background-color: $accent-color;

		& .home-icon,
		& .favorite-icon,
		& .read-icon {
			stroke: $prim-background;
		}

		& .arrow-right-icon {
			display: block;
			fill: $prim-background;
		}
	}
}

.mobile-menu__arrow {
	margin: 0 16px 0 auto;
}

// icons
.mobile-menu__icon-close,
.icon-burger-menu {
	fill: $prim-text-color;
}


.arrow-right-icon {
	display: none;
}

.home-icon,
.favorite-icon,
.read-icon {
	display: inline-block;
	margin: 0 14px 0 16px;
}

.icon-sun {
	fill: $colorsun-icon;
}

.icon-moon {
	fill: $colormoon-icon;
}