/* Light theme */
body[data-theme="light"] {
	background-color: $prim-background;
	color: $prim-text-color;

    & .theme-switch__light,
	& .mobile-theme-switch__light {
		color: $colorsun-icon;
	}
    & .logo,
    & .site-nav__link,
    & .header__search-btn {
   	color: $prim-text-color;
   }

	& .card-news__title,  & .card-news__text {
		color: $prim-text-color;
	}

	& .mobile-menu {
		background-color: $prim-background;
	}

	& .mobile-menu__link {
		color: $prim-text-color;
	}
    & .mobile-menu__link:hover,
	& .mobile-menu__link:focus {
		color: $prim-background;
	}

	& .mobile-menu__link--current {
		color: $prim-background;
	}

	& input[placeholder]{
		color: $lt-placeholder-color;
	}

	& .mobile-menu__icon-close,
	& .icon-burger-menu {
		fill: $prim-text-color;
	}

	& .icon-sun {
		fill: $colorsun-icon;
	}

	& .icon-moon {
		fill: $colormoon-icon;
	}

	& .search__icon {
		fill: $prim-text-color;
	}
	 & .search-field{
	 	border-color: $prim-text-color;
	 }
	& .categories-container_link {
		background-color: transparent;
	}
	& .categories-container_link:hover, & .dropbtn:hover {
		background-color: #4440F6;
		color: #fff;
		}
	& .dropbtn {
		background-color: #f4f4f4;
		
		}

}

body[data-theme="dark"] {
	background-color: $dt-background;
	color: $dt-prim-text-color;

	& .theme-switch__dark,
	& .mobile-theme-switch__dark {
		color: $colormoon-icon;
	}

	& .logo,
	& .site-nav__link,
	& .header__search-btn {
		color: $dt-prim-text-color;
	}
	& .card-news__title,
    & .card-news__text {
		color: $dt-prim-text-color;
	}

	& .mobile-menu {
		background-color: $dt-background;
	}

	& .mobile-menu__link {
		color: $dt-prim-text-color;
	}

	& input[placeholder] {
		color: $dt-placeholder-color;
	}

	& .mobile-menu__icon-close,
	& .icon-burger-menu {
		fill: $dt-prim-text-color;
	}

	& .icon-sun {
		fill: $colormoon-icon;
	}

	& .icon-moon {
		fill: $colorsun-icon;
	}
	& .search__icon {
		fill: $dt-prim-text-color;
	}
	& .search-field {
	      	border-color: $dt-prim-text-color;
	     }
	& .categories-container_link{
		background-color: $prim-background;
	}
	& .categories-container_link:hover, & .dropbtn:hover {
		background-color: #4440F6;
		color: #fff;
		}
	& .dropbtn{
		background-color: #f4f4f4;
	
	}	
 }

.theme-switch {
	display: none;

	@media (min-width: $tablet) {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
	}

	@media(min-width: $desktop){
		align-items: center;
	}
}

 .mobile-theme-switch {
 	display: block;
 	position: absolute;
 	bottom: 18px;
 	left: 16px;
 	display: flex;
 	justify-content: center;
 	align-items: baseline;
 }

.theme-switch__light, .mobile-theme-switch__light {
	font-family: $sec-font;
	font-size: 18px;
	line-height: 1.33;
	color: $colorsun-icon;

}

.theme-switch__dark, .mobile-theme-switch__dark {
	font-family: $sec-font;
	font-size: 18px;
	line-height: 1.33;
	color: $colormoon-icon;
}

#toggle, #mobile-toggle {
	position: relative;
	width: 40px;
	height: 20px;
	margin: 0 8px;
	appearance: none;
	outline: none;
	border: 0.6px solid $accent-background;
	border-radius: 20px;
	background-color: $prim-white-color;
	transition: 250ms ease;

	&:checked {
		background-color: $accent-background;
		border: 1px solid $prim-white-color;
	}

	@media (min-width: $desktop) {
		margin: 0 12px;
	}
}

#toggle::before, #mobile-toggle::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 17px;
	height: 17px;
	border-radius: 20px;
	background-color: $accent-background;
	cursor: pointer;
	transition: background-color 250ms ease;
	// transform: scale(1.1);

}

#toggle:checked::before, #mobile-toggle:checked::before {
	left: 21px;
	background-color: $prim-white-color;
}

.icon-sun,
.icon-moon {
	@media (min-width: $desktop) {
		display: none;
	}

}

.theme-word {
	display: none;

	@media (min-width: $desktop) {
		display: block;
	}
}