<!-- <li class="card-favorite__item">
                      <div class="card-favorite__ovarlay">
                        <picture>
                          <source
                            srcset="./images/asia-businesswoman-social-distancing-new.jpg 1x"
                            type="image/jpeg"
                            media="(max-width: 768px)"
                            width="288"
                            height="395"
                          />
                          <source
                            srcset="
                              ./images/asia-businesswoman-social-distancing-new-tablet@1x.jpg 1x
                            "
                            type="image/jpeg"
                            media="(min-width: 768px) and (max-width: 1199px)"
                            width="353"
                            height="395"
                          />
                          <source
                            srcset="
                              ./images/asia-businesswoman-social-distancing-new-desktop@1x.jpg 1x
                            "
                            type="image/jpeg"
                            media="(min-width: 1200px)"
                            width="395"
                            height="395"
                          />
                          <img
                            src="./images/asia-businesswoman-social-distancing-new.jpg"
                            alt="Businesswoman"
                            width="288"
                            height="395"
                          />
                        </picture>
                        <p class="card-favorite__category">Job searching</p>
                        <button class="card-favorite__button" type="button">
                            Remove from favorite
                          <svg class="card-favorite__icon" width="16" height="16">
                            <use href="./svg/symbol-defs.svg#icon-heart-not-action"></use>
                          </svg>
                        </button>
                      </div>
                      <h2 class="card-favorite__title">
                        8 tips for passing an online interview that will help you get a job
                      </h2>
                      <p class="card-favorite__text">
                        Before you start looking for a job, it is useful to familiarize
                        yourself with the job prospects offered by these...
                      </p>
                      <time class="card-favorite__time">20/02/2021</time>
                      <a class="card-favorite__element" href="">Read more</a>
                    </li>
                    <li class="card-favorite__item">
                      <div class="card-favorite__ovarlay">
                        <picture>
                          <source
                            srcset="./images/asia-businesswoman-social-distancing-new.jpg 1x"
                            type="image/jpeg"
                            media="(max-width: 768px)"
                            width="288"
                            height="395"
                          />
                          <source
                            srcset="
                              ./images/asia-businesswoman-social-distancing-new-tablet@1x.jpg 1x
                            "
                            type="image/jpeg"
                            media="(min-width: 768px) and (max-width: 1199px)"
                            width="353"
                            height="395"
                          />
                          <source
                            srcset="
                              ./images/asia-businesswoman-social-distancing-new-desktop@1x.jpg 1x
                            "
                            type="image/jpeg"
                            media="(min-width: 1200px)"
                            width="395"
                            height="395"
                          />
                          <img
                            src="./images/asia-businesswoman-social-distancing-new.jpg"
                            alt="Businesswoman"
                            width="288"
                            height="395"
                          />
                        </picture>
                        <p class="card-favorite__category">Job searching</p>
                        <button class="card-favorite__button" type="button">
                            Remove from favorite -->
<!-- <svg class="card-news__icon" width="16" height="16">
                                <use href="./images/icons.svg#icon-heart"></use>
                              </svg> -->
<!-- </button>
                      </div>
                      <h2 class="card-favorite__title">
                        8 tips for passing an online interview that will help you get a job
                      </h2>
                      <p class="card-favorite__text">
                        Before you start looking for a job, it is useful to familiarize
                        yourself with the job prospects offered by these...
                      </p>
                      <time class="card-favorite__time">20/02/2021</time>
                      <a class="card-favorite__element" href="">Read more</a>
                    </li> -->
